// Colours
$solid-white: #ffffff;
$solid-grey: #888;
$text-grey: #666;
$off-black: #20222b;
$dark-grey: #333333;
$off-white: #a5afd7;
$light-grey: #f7f7f7;
$dark-blue: #364051;
$light-blue: #1c88bf;
$blue: #3c4251;
$deep-blue: #464b5e;
$purple: #8357c5;

// Spacing
$size-s: 1.2rem;
$font-size-small: 1.4rem;
$size-med: 1.6rem;
$size-med-plus: 1.8rem;
$size-lar: 3.2rem;
$size-xl: 4.8rem;

// Responsive helpers
$breakpoint: 45rem;